<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <title>JOIN</title>

  <link rel="stylesheet" type="text/css" href="../css/login_join_page.css">
</head>

<body width="100%" height="100%">
  <form action="login_page.html" method="get" class="joinForm">
    <h2>JOIN</h2>

    <div class="idForm">
      <input type="text" class="id" placeholder="ID" required>
    </div>

    <div class="passForm">
      <input type="password" class="pw" placeholder="PW" required>
    </div>

    <div class="passForm">
      <input type="password" class="pw" placeholder="Confirm PW" required>
    </div>

    <button type="subbmit" class="btn">JOIN</button>
  </form>
</body>

</html>